@import "..//../variables/variables.scss";

.left-side {
  width: 28%;
}
.left-side-wrap {
  min-height: 300px;
  max-height: 1410px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: $whiteboxshadow;
  padding: 10px 10px 15px 10px;
}
.single-char-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
}
.single-char-block {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.single-char-img {
  align-self: center;
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.single-char-name {
  text-align: center;
}

.episodes-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 17px;
  max-height: 1200px;
}
.episode-item {
  padding: 5px;
  border-radius: 5px;
  box-shadow: $blackboxshadow;
}
.episode-item-name {
  color: blue;
}
.episode-item-queque {
  color: rgb(161, 15, 163);
}
.leftside-button {
  margin-top: 15px;
  width: 100%;
}
