@import "..//../variables/variables.scss";

.characters-block {
  width: 72%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.character-card {
  height: 450px;
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: $whiteboxshadow;
  background-color: #fefefe;
}
.character-card:hover {
  box-shadow: $blackboxshadow;
}
.character-active:hover {
  border: 1px solid red;
}
.character-img {
  width: 270px;
  height: 270px;
  border-radius: 5px;
}
.character-name {
  margin-top: 10px;
  text-align: center;
}

.topage {
  display: none;
  margin: 20px auto;
}
.show {
  display: block;
}
