@import "../../../variables/variables.scss";

.button {
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: aliceblue;
  background-color: $button-color;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.button:hover {
  border: 1px solid black;
}

.button:active {
  background-color: #e38080;
}
.character-list-button {
  margin: 0 auto;
}
