@import "../../variables/variables.scss";

.random-char {
  display: flex;
  justify-content: space-between;
  max-height: 285px;
}
.char-img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.char-block {
  padding: 20px;
  width: 45%;
  display: flex;
  gap: 30px;
  border-radius: 5px;
  box-shadow: $whiteboxshadow;
  background-color: #fff;
}
.description-block {
  font-size: 24px;
  font-weight: 700;
}
.alive {
  color: green;
}
.dead {
  color: red;
}
.unknown {
  color: grey;
}
.male {
  color: brown;
}
.female {
  color: pink;
}
.diffrent {
  color: rgb(9, 243, 223);
}
.renew_block {
  padding: 20px;
  width: 45%;
  box-shadow: $whiteboxshadow;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.renew-text {
  color: rgb(17, 21, 17);
  font-size: 36px;
  font-weight: 700;
}

.random-char-button {
  margin-top: 25px;
}
